.events-card-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.checkbox-filters {
  align-self: center;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background: #f5f5f5;
  box-shadow: 1px 1px 4px lightgray;
}

.checkbox-filters-label {
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
}

.checkbox-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 0.5em;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d1cece;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
  background-color: rgb(173, 173, 173);
}

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
  background-color: gray;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.down-arrow {
  height: 1.5em;
  margin: 0.75em;
}

.down-arrow:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.down-arrow-info {
  height: 2em;
  margin: 0.5em;
}

@media only screen and (max-width: 761px) {
  #event-card {
    flex-direction: column;
    width: 60%;
    height: min-content;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
  }

  #event-image {
    width: -webkit-fill-available;
  }

  #event-card div {
    width: -webkit-fill-available;
  }

  #event-info {
    width: initial;
    align-items: center;
  }

  #event-price-info {
    display: none;
    width: -webkit-fill-available;
    border: none;
    border-top: 0.07em solid gray;
  }

  .down-arrow-info {
    display: inline;
  }

  .star-container {
    align-items: center;
    width: min-content;
  }

  #event-tags {
    width: -webkit-fill-available;
    text-align: center;
    left: 0;
  }
}

@media only screen and (max-width: 690px) {
  #filter-container {
    display: none;
  }

  #down-arrow {
    display: inline;
  }
}

@media only screen and (max-width: 550px) {
  #event-info {
    display: none;
  }

  #event-image {
    width: 60vw;
    height: 60vw;
  }

  #event-card div {
    width: 60vw;
    height: 60vw;
  }

  #event-card {
    width: 65vw;
    padding-bottom: 2em;
  }

  .input {
    margin: 0;
    width: 60vw;
  }
}

@media only screen and (max-width: 440px) {
  .event-tags {
    font-size: 0.9em;
  }
}
