.card {
  display: flex;
  background: #f5f5f5;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 30em;
}

.text-description {
  font-size: 1.2em;
  margin: 1em;
  text-align: justify;
  text-justify: inter-word;
}

.card-image {
  width: 50%;
}

.info-title {
  font-size: 3em;
  margin: 0.25em;
}

.footer {
  display: flex;
  justify-content: center;
  background: #712727;
  padding: 0.3em;
}

.footer-label {
  color: white;
  margin: 0.5em;
  cursor: pointer;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  position: relative;
}

.slider-element {
  padding: 0.5em;
  box-shadow: 1px 1px 4px gray;
  display: flex;
  flex-direction: column;
  width: 18%;
  margin: 1%;
  justify-content: center;
}

.store-name {
  align-self: center;
  margin: 0.25em;
}

.shops-container-title {
  align-self: center;
  font-size: 2.5em;
  width: -webkit-fill-available;
  text-align: center;
  margin: 2%;
}

.layout {
  display: flex;
  flex-direction: column;
}

.arrow {
  width: 5%;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.slider-element:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.arrow:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.left-arrow {
  left: 15%;
}

.right-arrow {
  right: 15%;
}

.shop-image {
  height: 7em;
}

.shop-image-gray div {
  height: 7em;
  background-color: lightgray;
  mix-blend-mode: soft-light;
}

.shop-image-gray picture img {
  height: 7em;
  background-color: lightgray;
  mix-blend-mode: soft-light;
}

.slider-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 750px) {
  .slider {
    display: none;
  }

  .slider-container {
    padding: 1em 0em;
  }

  .shops-container-title {
    margin: 1%;
  }

  .middle-slider-title {
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    padding: 2%;
  }

  .shops-container-title:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 450px) {
  .card-image {
    display: none;
  }
  .title {
    font-size: 3em;
  }
}
