.card {
  display: flex;
  background: #f5f5f5;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 30em;
}

.text-description {
  font-size: 1.2em;
}

.card-image {
  width: 50%;
  height: 30em;
}

.info-title {
  font-size: 2em;
}

.footer {
  display: flex;
  justify-content: center;
  background: #712727;
}

.footer-label {
  color: white;
  margin: 0.5em;
  cursor: pointer;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  position: relative;
}

.slider-element {
  display: flex;
  flex-direction: column;
  width: 18%;
  margin: 1%;
  justify-content: center;
}

.shop-name {
  align-self: center;
}

.shops-container-title {
  align-self: center;
  font-size: 2.5em;
  width: 100%;
  text-align: center;
  margin: 2%;
}

.layout {
  display: flex;
  flex-direction: column;
}

.arrow {
  width: 5%;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.left-arrow {
  left: 15%;
}

.right-arrow {
  right: 15%;
}

.shop-image-gray div {
  background-color: lightgray;
  mix-blend-mode: soft-light;
}

.shop-image-gray picture img {
  background-color: lightgray;
  mix-blend-mode: soft-light;
}
