.input-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: inherit;
  overflow: hidden;
  top: 8%;
  width: 50%;
  max-width: 450px;
  height: min-content;
  margin: 0 auto;
  z-index: 1;
  box-shadow: 0 0 1rem 0;
  padding: 5em;
}

.input-fields-container:before {
  content: "";
  position: absolute;
  background: inherit;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.9);
  filter: blur(10px);
  z-index: -1;
}

.input-fields {
  background: transparent;
  display: flex;
  padding: 1em;
  margin: 1.5em 0em;
  width: -webkit-fill-available;
  font-weight: bolder;
  border-color: gray;
}

.input-fields::placeholder {
  font-size: 1.09em;
  color: #696969;
  font-weight: lighter;
}

.button {
  cursor: pointer;
  background: #712727;
  border-color: #712727;
  padding: 0.6em;
  width: -webkit-fill-available;
  margin: 1.5em 3.7em 1em;
  color: white;
  font-weight: bolder;
  font-size: 1.1em;
}

.button:hover {
  transform: scale(1.02);
}

.or-label {
  color: #00000087;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.5em;
}

.google-button {
  cursor: pointer;
  display: flex;
  width: -webkit-fill-available;
  margin: 1em 4.2em;
  background: white;
  box-shadow: 1.5px 2.5px 1px gray;
  padding: 0.6em 0.8em;
}

.google-button:hover {
  transform: scale(1.02);
}

.google-logo {
  width: 1.5em;
}

.google-sign-in-text {
  align-self: center;
  justify-self: center;
  margin: 0 2em;
  font-size: 1.1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  color: #00000087;
  padding: 0 0.35em;
}

.login-image {
  width: 60%;
  height: 40em;
  right: 0;
  bottom: 0;
  top: 0;
}

.login-form {
  height: 110vh;
  display: flex;
  position: relative;
  justify-content: flex-end;
  background: url(https://images.unsplash.com/photo-1526142684086-7ebd69df27a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.new-account-label {
  margin-top: 2em;
  width: 50%;
  width: -webkit-fill-available;
  margin: 2em 4em 0;
  text-align: center;
}

.register-label {
  text-decoration: none;
  color: black;
  margin-left: 0.5em;
  font-weight: bolder;
  text-shadow: 4px 2px 8px black;
  cursor: pointer;
}

.red-border {
  border-color: #ff1d1d;
}

.hidden {
  display: none;
}

.error-label {
  align-self: flex-start;
  margin-left: 0.5em;
  color: red;
  font-size: 0.9em;
  position: absolute;
  bottom: -0.25em;
}

.error-label-div {
  position: relative;
  width: -webkit-fill-available;
  margin: 0em 4.1em;
}

@media only screen and (max-width: 600px) {
  .error-label-div {
    margin: 0em 2em;
  }

  .button {
    margin: 1.5em 1.8em 1em;
  }

  .google-button {
    margin: 1em 2em;
  }
}
