.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin: 2em;
  grid-gap: 2em;
}

.product-image {
  box-shadow: 1px 1px 4px gray;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.guitar-name {
  width: -webkit-fill-available;
  text-align: center;
}

#add-button {
  align-self: flex-end;
}

.music-shop-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
  background: #f5f5f5;
  padding: 1.25em;
  box-shadow: 1px 1px 4px gray;
}

.infos {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: -webkit-fill-available;
  padding: 0.5em;
}

.info-titles {
  font-weight: bold;
  font-size: 1.2em;
}

.info_container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.header-title {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.products-title {
  padding-top: 0.5em;
  margin-top: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  width: -webkit-fill-available;
  text-align: center;
  border-top: 0.01em solid gray;
}

.arrow-down {
  height: 1.4em;
}

@media only screen and (max-width: 990px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
}

@media only screen and (max-width: 680px) {
  #add-button {
    margin-left: 0em;
    margin-right: 0em;
  }
}
@media only screen and (max-width: 501px) {
  .products-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(20, 1fr);
  }

  .infos {
    display: none;
  }
}
